<ion-view style="" id="page4" title="FavorManagementView">
    <ion-content class="has-header" padding="true">
        
        <h3 align="center">Favors Requested</h3>
        <ion-list>
            <ion-item>
                <ion-avatar item-left>
                    <a class="item item-avatar" href="#">
                          <img src="res/patrick.jpg">
            <!--		      <img src={{favor.owner.image}}>-->
            <!--		      <h2>{{favor.owner.name}}</h2>-->
                          <p>Sleeping in. Need someone to turn in my 33B homework.</p>
                          <p>Category</p>
                    </a>
                </ion-avatar>
            </ion-item>
        </ion-list>
        
        <br>
        
        <h3 align="center">Favors In Progress</h3>
        <ion-list>
            <ion-item>
                <ion-avatar item-left>
                    <a class="item item-avatar" href="#">
                          <img src="res/patrick.jpg">
            <!--		      <img src={{favor.owner.image}}>-->
            <!--		      <h2>{{favor.owner.name}}</h2>-->
                          <p>Sleeping in. Need someone to turn in my 33B homework.</p>
                        <p>Category</p>
                    </a>
                </ion-avatar>
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>
