<link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,greek' rel='stylesheet' type='text/css'>


<ion-view style="" id="page4" title="Manage Favors">

  <ion-content class="has-header" padding="true">

    <h3 align="center" style="font-family: 'Roboto', sans-serif">Favors Requested</h3>
    <ion-list>
            <ion-item href="#/page1/viewBidsPage" ng-repeat="favor in favors" ng-show="favor.status=='waiting'">
                <ion-avatar item-left href="#/page1/viewBidsPage">
                    <a class="item item-avatar" href="#/viewBidsPage">
                          <img src="res/patrick.jpg">
            <!--		      <img src={{favor.owner.image}}>-->
            		      <h2>{{favor.owner.name}}</h2>
                          <p>{{favor.content}}</p>
                          <p>{{favor.category}}</p>
                    </a>
                </ion-avatar>
            </ion-item>
        </ion-list>

    <br>

    <h3 align="center">Favors In Progress</h3>
    <ion-list>
      <ion-item ng-repeat="favor in favors" ng-click="showConfirm(favor)" ng-show="favor.status=='working'">
        <ion-avatar item-left>
          <a class="item item-avatar">
            <img src="res/patrick.jpg">
            		      <!-- <img src={{favor.owner.image}}> -->
            		      <h2>{{favor.owner.name}}</h2>
            <p>{{favor.content}}</p>
          </a>
        </ion-avatar>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
