<ion-view style="" id="page6" title="My Favors">
    <ion-content class="has-header" padding="true">
<!--         <ion-list style="">
            <ion-item style="">Buy bread</ion-item>
            <ion-item style="">Drop in my homework</ion-item>
            <ion-item style="">Bring me some bacon</ion-item>
        </ion-list> -->
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="res/patrick.jpg">
      <h2>Patrick</h2>
      <p>Sleeping in. Need someone to turn in my 33B homework.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="res/patrick.jpg">
      <h2>Rahul</h2>
      <p>Feeling hungry. Can anyone pick up some Rende for me?</p>
    </a>

    ...

</div>
    </ion-content>
</ion-view>
