<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,700,500' rel='stylesheet' type='text/css'>

<head>
<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<ion-view style="" id="page6" title="Favors Around You">
  <ion-content class="has-header" padding="true">
    <!--         <ion-list style="">
                <ion-item style="">Buy bread</ion-item>
                <ion-item style="">Drop in my homework</ion-item>
                <ion-item style="">Bring me some bacon</ion-item>
            </ion-list> -->
    <!-- 		<div class="list">

                <a class="item item-avatar" href="#">
                  <img src="res/patrick.jpg">
                  <h2>Patrick</h2>
                  <p>Sleeping in. Need someone to turn in my 33B homework.</p>
                </a>

                <a class="item item-avatar" href="#">
                  <img src="res/rahul.jpg">
                  <h2>Rahul</h2>
                  <p>Feeling hungry. Can anyone pick up some Rende for me?</p>
                </a>


		</div> -->

<div id="banner">
<!--     <img src="http://rapidgator.net/images/pict-download.jpg" alt="banner" /> -->
<h1 align="center" style="font-family: 'Roboto', sans-serif; font-weight: 300; color:white;"> Los Angeles, CA </h1>

</div>

<ion-list>
  <ion-item ng-repeat="favor in favors" ng-show="favor.owner.id != user && favor.status != 'done' ">
  <h2> 10 Minutes Ago </h2>
  <h1> </h1>
    <ion-avatar  item-left>

        <div  class="item item-avatar"
           ng-click="showPopup(favor)">
<!--		      <img src="res/patrick.jpg">-->
		      <img src={{favor.owner.image}}>
		      <h2>{{favor.owner.name}}</h2>
		      <p>{{favor.content}}</p>
		      <p>{{favor.category}}</p>

          <i class="icon-right ion-cash balanced"></i> {{favor.content.length/2}}
          <i class="icon-right ion-heart assertive"></i> {{favor.content.length/4}}


        </div>

    </ion-avatar>

  </ion-item>
</ion-list>

  </ion-content>

</ion-view>
