<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,700,500' rel='stylesheet' type='text/css'>


<ion-view style="" id="page4" title="Manage Favors">

  <ion-content class="has-header" padding="true">

    <h1>                                        </h1>
    <h1>                                        </h1>

    <h3 align="left" style="font-family: 'Roboto', sans-serif; font-weight: 300;">Favors Requested</h3>
    <ion-list>
            <ion-item href="#/page1/viewBidsPage" ng-repeat="favor in requested">
                <ion-avatar item-left href="#/page1/viewBidsPage">
                    <a class="item item-avatar" href="#/viewBidsPage">
                          <img src="res/patrick.jpg">
            <!--		      <img src={{favor.owner.image}}>-->
            		      <h2>{{favor.owner.name}}</h2>
                          <p>{{favor.content}}</p>
                          <p>{{favor.category}}</p>

                          
                      <i class="icon-right ion-cash balanced"></i> 4
                      <i class="icon-right ion-heart assertive"></i> 10
                    </a>
                </ion-avatar>
            </ion-item>
        </ion-list>

    <br>

    <h3 align="left" style="font-family: 'Roboto', sans-serif; font-weight: 300;">Favors In Progress</h3>
    <ion-list>
      <ion-item ng-repeat="favor in working" ng-click="showConfirm(favor)">
        <ion-avatar item-left>
          <a class="item item-avatar">
            <img src="res/patrick.jpg">
            		      <!-- <img src={{favor.owner.image}}> -->
            		      <h2>{{favor.owner.name}}</h2>
            <p>{{favor.content}}</p>
          </a>
        </ion-avatar>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
