<ion-view title="LoginView" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="loginView-button2" class="button button-stable  button-block">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="loginView-button3" class="button button-positive  button-block button-clear">Or Log in with Facebook</a>
        </form>
    </ion-content>
</ion-view>