<ion-view style="" id="viewBidsPage" title="View Bids">
    
    <ion-nav-bar>   
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="has-header" padding="true">
        
        
        <ion-list>
            <ion-item>
                <ion-avatar item-left>
                  <a class="item item-avatar">
                    <img src="res/patrick.jpg">
                    <p>Sleeping in. Need someone to turn in my 33B homework.</p>
                  </a>
                </ion-avatar>
            </ion-item>
        </ion-list>
     
        
     
    </ion-content>
    
</ion-view>