<ion-view view-title="Firebase Starter Pack" hide-back-button="true">
        <ion-content class="padding-top">
          <div class="list text-center padding">
            <i class="icon ion-ios-game-controller-b larger positive"></i>
          </div>
          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
          <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
              <span class="input-label">Email</span>
              <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
              <div class="form-error" ng-message="required">This field is required.</div>
              <div class="form-error" ng-message="email">This field is must be an email.</div>
              <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
              <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
              <span class="input-label">Password</span>
              <input name="txtPassword" type="password" ng-model="user.password" placeholder="Password"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">This field is required.</div>
            <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
            <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
            </div>
          </div>
          <div class="padding-top">
            <input type="submit" class="button button-block button-positive" value="Sign-In">
            <p class="text-center padding-top">
                <a href="#/forgot" class="button button-clear button-positive">Forgot password</a><a href="#/register" class="button button-clear button-positive">Register</a>
          </div>
        </form>
        </ion-content>
</ion-view>
